#main-title {
    text-align: center;
    color: rgb(252, 213, 42);
    font-size: 48px;
}

.cheesy {
    height: auto;
    width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    background-color: rgb(255, 157, 157);
    text-align: center;
}

.home {
    font-weight: bold;
}

ul,
ol {
    font-weight: bold;
}

p {
    text-align: center;
}